html {
  --color1: #333;
  --color2: #666;
  --background1: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  color: var(--color1);
  font-family: "Poppins";
}

body {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  border: none;
}

.App {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  padding: 24px 48px;
}
